.App {
  text-align: center;
  padding: 12px 50px;
  margin: 0 auto;
}
.App .uploader {
  max-width: 1024px;
  margin: 50px auto 100px;
}
.App .list {
  max-width: 1600px;
  border: 1px dashed#683807;
  padding: 25px;
  margin: 50px auto 100px;
}
